# Environment Secrets
*.local
.env
server/.env

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Media and Uploads
server/uploads/

# Logs
logs
*.log
*debug.log*
server/error.txt

# Editor/System
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
